{% extends "base.html" %}
{% block title %}All Currencies{% endblock %}
{% block content %}
<h2>All Currencies</h2>
<table class="table table-striped">
  <thead>
     <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Price</th>
     </tr>
  </thead>
  <tbody>
  {% for currency in currencies %}
     <tr>
        <td><a href="{{ url_for('share', symbol=currency.symbol) }}">{{ currency.symbol }}</a></td>
        <td>{{ currency.name }}</td>
        <td>{{ currency.price }}</td>
     </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}