{% extends "base.html" %}
{% block title %}All Shares{% endblock %}
{% block content %}
<h2>All Shares</h2>
<form method="GET" action="{{ url_for('shares') }}">
  <div class="form-group">
    <input type="text" class="form-control" name="search" placeholder="Search shares...">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
<br>
<table class="table table-striped">
  <thead>
     <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Current Price (Rs)</th>
        <th>Action</th>
     </tr>
  </thead>
  <tbody>
  {% for share in shares %}
     <tr>
        <td><a href="{{ url_for('share', symbol=share.symbol) }}">{{ share.symbol }}</a></td>
        <td>{{ share.name }}</td>
        <td>{{ share.price }}</td>
        <td>
         <a href="{{ url_for('add_favorite_post') }}?symbol={{ share.symbol }}" class="btn btn-success btn-sm">Add Favorite</a>
        </td>
     </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
